<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2013年春季高科技校园招聘会_应届生招聘信息_OFweek人才网</title>
<meta name="description" content="OFweek人才网2013校园招聘专栏汇聚最新高科技企业校园招聘信息，为应届毕业生或在校生提供最新、最全、最可靠的2013年校园招聘信息，高科技企业最新的校园招聘职位信息">
<meta name="keywords" content="2013校园招聘会,校园招聘会,校园招聘信息,春季招聘会,高科技行业,2013招聘会,应届毕业生招聘">
<link href="{#$QISHI.site_template#}jobfair/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="page">
<div id="whole">
	<div class="top"><img src="{#$QISHI.site_template#}jobfair/images/tup01.jpg" width="990" height="110" border="0" /><img src="{#$QISHI.site_template#}jobfair/images/tup02.jpg" width="990" height="100" border="0" /><img src="{#$QISHI.site_template#}jobfair/images/tup03.jpg" width="990" height="112" border="0" />    </div>
    <div class="conter">
    	<div class="guag1">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="39%" rowspan="2" align="right"><a href="http://hr.ofweek.com" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/logo.jpg" /></a></td>
            <td width="3%"></td>
            <td colspan="3" align="left"><img src="{#$QISHI.site_template#}jobfair/images/wezt.jpg" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="15%" valign="bottom"><a href="http://www.ofweek.com/user/registerUser.do?talentNetworkLogin=talentNetworkLogin" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/btn01.jpg" /></a></td>
            <td width="15%" valign="bottom"><a href="http://hr.ofweek.com/login/" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/login.jpg" /></a></td>
            <td width="28%" valign="bottom"><a href="http://hr.ofweek.com/hrlogin/" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/btn02.jpg" /></a></td>
          </tr>
        </table>

        </div>
        <div class="qiye">
       	  <div class="tite"><h3>支持企业</h3></div>
            <div class="line">
            	<ul style="overflow:hidden;*zoom:1;">
                	<li><a href="http://hr.ofweek.com/company/company-show-2186.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg01.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-674.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg02.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-2103.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg03.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-2035.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg04.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1662.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg05.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-2003.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg06.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1996.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg07.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1994.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg08.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1987.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg09.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1979.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg10.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1976.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg11.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1975.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg12.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1973.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg13.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1958.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg14.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-2177.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg15.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1230.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg16.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1811.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg17.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-551.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg18.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-887.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg19.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-2097.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg20.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-680.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg21.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-327.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg22.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1380.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg23.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1180.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg24.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-2023.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg25.jpg" /></a></li>
                    <li><a href="http://hr.ofweek.com/company/company-show-1729.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg26.jpg" /></a></li>
					<li><a href="http://hr.ofweek.com/company/company-show-420.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg27.jpg" /></a></li>
					<li><a href="http://hr.ofweek.com/company/company-show-832.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg28.jpg" /></a></li>
					<li><a href="http://hr.ofweek.com/company/company-show-619.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg29.jpg" /></a></li>
					<li><a href="http://hr.ofweek.com/company/company-show-2144.html" target="_blank"><img src="{#$QISHI.site_template#}jobfair/images/lg30.jpg" /></a></li>
					
                </ul>
          </div>
        </div>
        <div class="zhaop">
       	    <div class="tite"><span><a href="http://hr.ofweek.com/campus" target="_blank">更多&gt;&gt;</a></span><h3>热门校园职位</h3></div>
            <div class="line">
            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
                    <td width="26%" bgcolor="#f2f2f2"><strong>职位名称</strong></td>
                    <td width="26%" bgcolor="#f2f2f2"><strong>公司名称</strong></td>
                    <td width="11%" bgcolor="#f2f2f2"><strong>所在地区</strong></td>
                    <td width="8%" bgcolor="#f2f2f2"><strong>学历</strong></td>
                    <td width="5%" bgcolor="#f2f2f2"><strong>性别</strong></td>
                    <td width="7%" bgcolor="#f2f2f2"><strong>经验</strong></td>
                    <td width="9%" bgcolor="#f2f2f2"><strong>酬薪</strong></td>
                    <td width="8%" bgcolor="#f2f2f2"><strong>更新日期</strong></td>
                  </tr>
				<!--循环职位列表30条-->
				{#foreach item=item from=$job_list#}
                  <tr>
                    <td width="26%"><a href="{#$QISHI.site_dir#}jobs/jobs-show-{#$item.id#}.html" style="width:220px;display:block;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;" target="_blank" title="{#$item.jobs_name#}">{#$item.jobs_name#}</a></td>
                    <td width="26%"><a href="{#$QISHI.site_dir#}company/company-show-{#$item.uid#}.html" style="width:220px;display:block;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;" target="_blank" title="{#$item.companyname#}">{#$item.companyname#}</a></td>
                    <td width="11%">{#$item.district_cn#}</td>
                    <td width="8%">{#$item.education_cn#}</td>
                    <td width="5%">{#$item.sex_cn#}</td>
                    <td width="7%">{#$item.experience_cn#}</td>
                    <td width="9%">{#if $item.wage_min==0 && $item.wage_max==0 #}面议{#elseif $item.wage_min && $item.wage_max==0#}{#$item.wage_min#}以上{#elseif $item.wage_min==0 && $item.wage_max#}小于{#$item.wage_max#}{#else#}{#$item.wage_min#}-{#$item.wage_max#}{#/if#}</td>
                    <td width="8%">{#$item.refreshtime|date_format:"%Y-%m-%d"#}</td>
                  </tr>
				  {#/foreach#}
				<!--END-->
                </table>
           </div>
        </div>
        <div class="yuanx">
       	  <div class="tite"><h3>合作院校</h3></div>
            <div class="ylien">
            	<ul>
					<li><a href="http://www.sysu.edu.cn/2012/cn/index.htm" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx01.jpg" /></a></li>
                  <li><a href="http://www.jnu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx02.jpg" /></a></li>
                  <li><a href="http://www.scut.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx03.jpg" /></a></li>
                  <li><a href="http://www.scnu.edu.cn/scnu/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx04.jpg" /></a></li>
                  <li><a href="http://www.szu.edu.cn/2013/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx05.jpg" /></a></li>
                  <li><a href="http://www.fudan.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx06.jpg" /></a></li>
                  <li><a href="http://www.tongji.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx07.jpg" /></a></li>
                  <li><a href="http://www.sjtu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx08.jpg" /></a></li>
               	  <li><a href="http://www.ecust.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx09.jpg" /></a></li>
                  <li><a href="http://www.pku.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx10.jpg" /></a></li>
                  <li><a href="http://www.tsinghua.edu.cn/publish/th/index.html" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx11.jpg" /></a></li>
                  <li><a href="http://www.bjtu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx12.jpg" /></a></li>
                  <li><a href="http://www.bjut.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx13.jpg" /></a></li>
                  <li><a href="http://www.buaa.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx14.jpg" /></a></li>
                  <li><a href="http://www.bit.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx15.jpg" /></a></li>
                  <li><a href="http://www.bupt.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx16.jpg" /></a></li>
                  <li><a href="http://www.nankai.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx17.jpg" /></a></li>
                  <li><a href="http://zs.tju.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx18.jpg" /></a></li>
                  <li><a href="http://www.tust.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx19.jpg" /></a></li>
                  <li><a href="http://www.tjnu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx20.jpg" /></a></li>
                  <li><a href="http://www.zju.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx21.jpg" /></a></li>
                  <li><a href="http://www.zjut.edu.cn/zjutnews/index.jsp" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx22.jpg" /></a></li>
                  <li><a href="http://www.zjnu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx23.jpg" /></a></li>
                  <li><a href="http://www.nju.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx24.jpg" /></a></li>
                  <li><a href="http://www.suda.edu.cn" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx25.jpg" /></a></li>
                  <li><a href="http://www.njupt.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx26.jpg" /></a></li>
                  <li><a href="http://www.scu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx27.jpg" /></a></li>
                  <li><a href="http://www.swjtu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx28.jpg" /></a></li>
                  <li><a href="http://www.uestc.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx29.jpg" /></a></li>
                  <li><a href="http://www.whu.edu.cn/index.html" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx30.jpg" /></a></li>
                  <li><a href="http://www.hust.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx31.jpg" /></a></li>
                  <li><a href="http://www.whut.edu.cn/2012web/index.htm" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx32.jpg" /></a></li>
                  <li><a href="http://www.hubu.edu.cn/index.html" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx33.jpg" /></a></li>
                  <li><a href="http://www.ahu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx34.jpg" /></a></li>
                  <li><a href="http://www.ustc.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx35.jpg" /></a></li>
                  <li><a href="http://www.xjtu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx36.jpg" /></a></li>
                  <li><a href="http://www.xidian.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx37.jpg" /></a></li>
                  <li><a href="http://www.sxu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx38.jpg" /></a></li>
                  <li><a href="http://www.tyust.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx39.jpg" /></a></li>
                  <li><a href="http://www.hpu.edu.cn/www/index.html" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx40.jpg" /></a></li>
                  <li><a href="http://www.zzu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx41.jpg" /></a></li>
                  <li><a href="http://www.hnu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx42.jpg" /></a></li>
                  <li><a href="http://www.csu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx43.jpg" /></a></li>
                  <li><a href="http://www.hnust.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx44.jpg" /></a></li>
                  <li><a href="http://www.hbu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx45.jpg" /></a></li>
                  <li><a href="http://www.ncu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx46.jpg" /></a></li>
                  <li><a href="http://www.sdu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx47.jpg" /></a></li>
                  <li><a href="http://www.qust.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx48.jpg" /></a></li>
                  <li><a href="http://www.lnu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx49.jpg" /></a></li>
                  <li><a href="http://www.jlu.edu.cn/newjlu/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx51.jpg" /></a></li>
                  <li><a href="http://www.hlju.edu.cn/2011/index.html" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx52.jpg" /></a></li>
                  <li><a href="http://www.hit.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx53.jpg" /></a></li>
                  <li><a href="http://www.cqu.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx54.jpg" /></a></li>
                  <li><a href="http://www.cqupt.edu.cn/" target="_blank" rel="nofollow"><img src="{#$QISHI.site_template#}jobfair/images/yx55.jpg" /></a></li>
                </ul>
            	
            </div>
        </div>
    </div>
{#include file="footer.htm"#}  
</div>
</div>
</body>
</html>
