<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>OFweek人才网—LED行业招聘会</title>
<meta name="keywords" content="2013招聘，春季招聘，LED行业招聘，LED人才网，OFweek招聘会">
<meta name="description" content="OFweek人才网LED行业网络招聘会为求职者提供最新、最全的LED行业招聘信息，包括具体的LED招聘职位描述、LED招聘职位薪金待遇,LED招聘企业及工作地点等信息。">
<link type="text/css" href="{#$QISHI.site_template#}jobfair_led/css/css.css" rel="stylesheet" />
<script src="/templates/default/js/jquery.js" type='text/javascript' ></script>
<script src="/templates/default/js/jquery.lazyload.js" type="text/javascript"></script>
<script type="text/javascript" src="/templates/default/js/tc.js"></script>
<script type="text/javascript" src="/templates/default/js/xl.js"></script>
<script type="text/javascript" src="/templates/default/js/add_common_function.js"></script>
<script src="/templates/default/js/MSClass.js" language="javascript"></script>
<script src="/templates/default/js/select-jobs.js" type="text/javascript"></script>
<script type="text/javascript">
	function of_showmore(v){
		oMore = document.getElementById('showmore');
		if(v==1){oMore.style.display = 'block';}
		else{oMore.style.display = 'none';}
	}
	function of_showmember(v){
		oMore1 = document.getElementById('tab_member_1');
		oMore2 = document.getElementById('tab_member_2');
		if(v==1){oMore1.style.display = 'none';oMore2.style.display = 'block';}
		else{oMore1.style.display = 'block';oMore2.style.display = 'none';}
	}
</script>
</head>

<body>
<!--header begin-->
<style>
#submit_form1,#submit_form2{
	background:url({#$QISHI.site_template#}images/boutton_04.gif) no-repeat;
	width:93px;
	height:32px;
	border:0px;
	cursor:pointer;
}
</style>
 <script type="text/javascript" language="javascript">
			 $(document).ready(function(){
				$("#site-nav .menu").hover(
				 function(){
				$(this).addClass("hover");								   
				},
				function(){
				$(this).removeClass("hover");								   
				});
			});
</script>
<script type="text/javascript">
	function of_showmore(v){
		oMore = document.getElementById('showmore');
		if(v==1){oMore.style.display = 'block';}
		else{oMore.style.display = 'none';}
	}
	function of_showmember(v){
		oMore1 = document.getElementById('tab_member_1');
		oMore2 = document.getElementById('tab_member_2');
		if(v==1){oMore1.style.display = 'none';oMore2.style.display = 'block';}
		else{oMore1.style.display = 'block';oMore2.style.display = 'none';}
	}
</script>
		
		<div class="top">
          <div class="link"><a href="http://www.ofweek.com/" rel="nofollow" target="_blank">OFweek首页</a>|<a href="http://lights.ofweek.com/" rel="nofollow" target="_blank">半导体照明</a>|<a href="http://solar.ofweek.com/" rel="nofollow" target="_blank">太阳能光伏</a>|<a href="http://laser.ofweek.com/" rel="nofollow" target="_blank">激光</a>|<a href="http://smartgrids.ofweek.com/" rel="nofollow" target="_blank">智能电网</a>|<a href="http://emc.ofweek.com/" rel="nofollow" target="_blank">节能</a><a onmouseover="of_showmore(1);" href="javascript:void(0);" style="text-decoration:none;">&nbsp;&nbsp;<img src="{#$QISHI.site_template#}images/inco.gif" onclick="return false;">&nbsp;&nbsp;</a>
		  <div style="display: none;" class="hr_linka" onmouseout="of_showmore(0);" onmouseover="of_showmore(1);" id="showmore"><a title="电子工程" target="_blank" href="http://ee.ofweek.com/">电子工程</a>|<a title="光通讯" target="_blank" href="http://fiber.ofweek.com/">光通讯</a>|<a title="工控" target="_blank" href="http://gongkong.ofweek.com/">工控</a>|<a title="风电" target="_blank" href="http://windpower.ofweek.com/">风电</a>|<a title="仪器仪表" target="_blank" href="http://instrument.ofweek.com/">仪器仪表</a>|<a title="光电显示" target="_blank" href="http://display.ofweek.com/">光电显示</a>|<a title="光学" target="_blank" href="http://optics.ofweek.com/">光学</a></div>
		  
		  </div>
          
          {#if $member_uid#}
          <div class="deng" id="site-nav">
          欢迎 {#$member_username#} <a href="{#if $member_utype==1#}{#$QISHI.site_dir#}user/company/company_index.php{#else#}{#$QISHI.site_dir#}user/personal/{#/if#}">会员中心</a> <a href="#" onclick="return logout();">退出</a>
          </div>
          {#else#}
          
		  <!--登录状态条-->
		 
		  <div class="deng" id="site-nav">
            <ul class="quick-menu">
				<!--求职者登录区域-->
                <li class="services menu-item last">
                <div class=menu>
                <a class="menu-hd" href="/login/">求职者登录</a>
            
                
                </div>
                </li>
				<!--求职者登录区域END-->
                <li>或者</li>
                <li><a href="http://www.ofweek.com/user/registerUser.do?talentNetworkLogin=talentNetworkLogin">注册</a></li>
				<!--企业登录区域-->
                <li class="services menu-item last">
                
                <div class=menu>
                <a class="menu-hd" href="/hrlogin/" >企业登录</a>
                </div>
                
                </li>
				<!--企业登录区域END-->
                <li><img src="{#$QISHI.site_template#}images/inco1.gif" /></li>
                <li><a href="{#$QISHI.site_dir#}user/reg.php">企业注册</a></li>
            </ul>
            </div>
			
		<!--登录条END-->
		
		{#/if#}
		
      </div>

<!--header end-->
<div class="main">
	<div class="jianjie">
		<h1>新年招聘旺季序幕已经拉开，</h1>
		<h2>您是否正在茫茫人海大潮中苦寻理想职位？</h2>
		<h2>或意欲辞职蠢蠢欲动？</h2>
		<p><font style="font-family:Arial">OFweek</font>是中国高科技行业综合门户网站，产业涵盖半导体照明、太阳能光伏、光通讯、激光、光学、光电显示、电子工程、工控、智能电网、仪器仪表、节能、环保、风电、电源、电力、通信等高科技领域。目前拥有行业会员50万余名。<font style="font-family:Arial">OFweek</font>人才网、<font style="font-family:Arial">OFweek</font>半导体照明网依托<font style="font-family:Arial">OFweek</font>专业性及其行业的影响力，特举办“<font style="font-family:Arial">OFweek</font>2013春季<font style="font-family:Arial">LED</font>行业网络专场招聘会”。本专场所有参会企业均为<font style="font-family:Arial">LED</font>及其相关行业知名企业，还将邀请<font style="font-family:Arial">LED</font>行业权威机构、相关专业院校积极参与支持，为<font style="font-family:Arial">LED</font>人才与用人单位架设一条专业、便捷、针对性强的求职招聘通道。招聘活动期间，企业的招聘信息将在<font style="font-family:Arial">OFweek</font>人才网（<font style="font-family:Arial">hr.ofweek.com</font>）上免费发布，并制作<font style="font-family:Arial">LED</font>招聘专题供求职者浏览、查询和在线联系。我们诚挚地欢迎各用人单位前来发布招聘信息，为您招揽更多优秀的行业人才。同时，我们希望通过本次活动能够为求职者及应届生带来更多的求职机会。</p>
	</div>
	<div class="guagl">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="27%" rowspan="2" align="right"><a href="http://hr.ofweek.com" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/logo.jpg" border="0" /></a></td>
            <td width="4%"></td>
            <td colspan="2" align="left"><img src="{#$QISHI.site_template#}jobfair_led/images/wezt.jpg" /></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="25%" align="right" valign="bottom"><a href="http://www.ofweek.com/user/registerUser.do?talentNetworkLogin=talentNetworkLogin" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/btn01.jpg" border="0" alt="我要求职"/></a></td>
            <td width="44%" valign="bottom" style="padding-left:15px;"><a href="http://hr.ofweek.com/hrlogin/" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/btn02.jpg" border="0" alt="我要招聘"/></a></td>
            </tr>
        </table>
	</div>
	<div class="zhaop">
		<div class="title"><span><a href="http://hr.ofweek.com/jobs/lights" target="_blank">更多</a></span>热门招聘企业</div>
		<div class="qiye">
			<ul>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-743.html" title="欧司朗（中国）照明有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/osm.jpg" border="0" alt="欧司朗（中国）照明有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-743.html" title="欧司朗（中国）照明有限公司" target="_blank">欧司朗（中国）照明有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-1045.html" title="康佳集团股份有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/kk.jpg" border="0" alt="康佳集团股份有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-1045.html" title="康佳集团股份有限公司" target="_blank">康佳集团股份有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2177.html#tab2" title="深圳雷曼光电科技股份有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/ledman.jpg" border="0" alt="深圳雷曼光电科技股份有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2177.html" title="深圳雷曼光电科技股份有限公司" target="_blank">深圳雷曼光电科技股份有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-1380.html" title="欧普照明股份有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/opple.jpg" border="0" alt="欧普照明股份有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-1380.html" title="欧普照明股份有限公司" target="_blank">欧普照明股份有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2023.html" title="深圳市晶台光电有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/kinglight.jpg" border="0" alt="深圳市晶台光电有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2023.html" title="深圳市晶台光电有限公司" target="_blank">深圳市晶台光电有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-680.html" title="广州市鸿利光电股份有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/hongli.jpg" border="0" alt="广州市鸿利光电股份有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-680.html" title="广州市鸿利光电股份有限公司" target="_blank">广州市鸿利光电股份有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-3115.html" title="深圳利亚德光电有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/liyade.jpg" border="0" alt="深圳利亚德光电有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-3115.html" title="深圳利亚德光电有限公司" target="_blank">深圳利亚德光电有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2323.html" title="研创光电科技（赣州）有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/ycot.jpg" border="0" alt="研创光电科技（赣州）有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2323.html" title="研创光电科技（赣州）有限公司" target="_blank">研创光电科技（赣州）有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2325.html" title="柏狮光电技术有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/bon.jpg" border="0" alt="柏狮光电技术有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2325.html" title="柏狮光电技术有限公司" target="_blank">柏狮光电技术有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2326.html" title="深圳市艾比森光电股份有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/absen.jpg" border="0" alt="深圳市艾比森光电股份有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2326.html" title="深圳市艾比森光电股份有限公司" target="_blank">深圳市艾比森光电股份有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2329.html" title="深圳市兆驰股份有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/amtc.jpg" border="0" alt="深圳市兆驰股份有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2329.html" title="深圳市兆驰股份有限公司" target="_blank">深圳市兆驰股份有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2343.html" title="富昌电子(上海)有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/future.jpg" border="0" alt="富昌电子(上海)有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2343.html" title="富昌电子(上海)有限公司" target="_blank">富昌电子(上海)有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2345.html" title="深圳市洲明科技股份有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/un.jpg" border="0" alt="深圳市洲明科技股份有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2345.html" title="深圳市洲明科技股份有限公司" target="_blank">深圳市洲明科技股份有限公司 </a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2357.html" title="广东群洲节能科技有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/qunzhou.jpg" border="0" alt="广东群洲节能科技有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2357.html" title="广东群洲节能科技有限公司" target="_blank">广东群洲节能科技有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2360.html" title="施耐德电气（中国）有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/se.jpg" border="0" alt="施耐德电气（中国）有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2360.html" title="施耐德电气（中国）有限公司" target="_blank">施耐德电气（中国）有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2354.html" title="灿瑞半导体（上海）有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/ocs.jpg" border="0" alt="灿瑞半导体（上海）有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2354.html" title="灿瑞半导体（上海）有限公司" target="_blank">灿瑞半导体（上海）有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2321.html" title="深圳市瑞轩光电有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/rea.jpg" border="0" alt="深圳市瑞轩光电有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2321.html" title="深圳市瑞轩光电有限公司" target="_blank">深圳市瑞轩光电有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2324.html" title="深圳市通普科技有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/toop.jpg" border="0" alt="深圳市通普科技有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2324.html" title="深圳市通普科技有限公司" target="_blank">深圳市通普科技有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2327.html" title="上海芯龙半导体技术股份有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/xl.jpg" border="0" alt="上海芯龙半导体技术股份有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2327.html" title="上海芯龙半导体技术股份有限公司" target="_blank">上海芯龙半导体技术股份有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2330.html" title="美杜莎光电（深圳）有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/me.jpg" border="0" alt="美杜莎光电（深圳）有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2330.html" title="美杜莎光电（深圳）有限公司" target="_blank">美杜莎光电（深圳）有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2353.html" title="深圳珈伟光伏照明股份有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/jiawei.jpg" border="0" alt="深圳珈伟光伏照明股份有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2353.html" title="深圳珈伟光伏照明股份有限公司" target="_blank">深圳珈伟光伏照明股份有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2355.html" title="深圳市奥伦德科技有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/ori.jpg" border="0" alt="深圳市奥伦德科技有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2355.html" title="深圳市奥伦德科技有限公司" target="_blank">深圳市奥伦德科技有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2356.html" title="西蒙电气（中国）有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/sim.jpg" border="0" alt="西蒙电气（中国）有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2356.html" title="西蒙电气（中国）有限公司" target="_blank">西蒙电气（中国）有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2358.html" title="天楹（上海）光电科技有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/tiwin.jpg" border="0" alt="天楹（上海）光电科技有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2358.html" title="天楹（上海）光电科技有限公司" target="_blank">天楹（上海）光电科技有限公司</a>
				</li>
				<li>
					<a href="http://hr.ofweek.com/company/company-show-2809.html" title="深圳市迈锐光电有限公司" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/ledmary.jpg" border="0" alt="深圳市迈锐光电有限公司" /></a>
					<a href="http://hr.ofweek.com/company/company-show-2809.html" title="深圳市迈锐光电有限公司司" target="_blank">深圳市迈锐光电有限公司</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="zhaop">
		<div class="title"><span><a href="http://hr.ofweek.com/jobs/lights" target="_blank">更多</a></span>热门招聘职位</div>
		<div class="zhiwei">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
                    <td width="26%" height="28" bgcolor="#f2f2f2"><strong>职位名称</strong></td>
                    <td width="26%" height="28" bgcolor="#f2f2f2"><strong>公司名称</strong></td>
                    <td width="11%" height="28" bgcolor="#f2f2f2"><strong>所在地区</strong></td>
                    <td width="8%" height="28" bgcolor="#f2f2f2"><strong>学历</strong></td>
                    <td width="5%" height="28" bgcolor="#f2f2f2"><strong>性别</strong></td>
                    <td width="7%" height="28" bgcolor="#f2f2f2"><strong>经验</strong></td>
                    <td width="9%" height="28" bgcolor="#f2f2f2"><strong>酬薪</strong></td>
                    <td width="8%" height="28" bgcolor="#f2f2f2"><strong>更新日期</strong></td>
                  </tr>
                  {#foreach from=$job_list item=t#}
                  <tr>
                    <td width="26%"><a href="http://hr.ofweek.com/jobs/jobs-show-{#$t.id#}.html" style="width:220px;display:block;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;" target="_blank" title="{#$t.jobs_name#}">{#$t.jobs_name#}</a></td>
                    <td width="26%"><a href="http://hr.ofweek.com/company/company-show-{#$t.uid#}.html" style="width:220px;display:block;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;" target="_blank" title="{#$t.companyname#}">{#$t.companyname#}</a></td>
                    <td width="11%">{#$t.district_cn#}</td>
                    <td width="8%">{#$t.education_cn#}</td>
                    <td width="5%">{#$t.sex_cn#}</td>
                    <td width="7%">{#$t.experience_cn#}</td>
                    <td width="9%">{#if $t.wage_min==0 && $t.wage_max==0 #}面议{#elseif $t.wage_min && $t.wage_max==0#}{#$t.wage_min#}以上{#elseif $t.wage_min==0 && $t.wage_max#}小于{#$t.wage_max#}{#else#}{#$t.wage_min#}-{#$t.wage_max#}{#/if#}</td>
                    <td width="8%">{#$t.refreshtime|date_format:"%Y-%m-%d"#}</td>
                  </tr>
                  {#/foreach#}
				<!--END-->
                </table>
		</div>
	</div>
	<div class="zhaop">
		<div class="title">合作机构/院校：</div>
		<div class="lianmeng">
			<ul>
				<li>
					<a href="http://www.cncos.org/" title="中国光学学会" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm01.jpg" alt="中国光学学会" border="0" /></a>
					<a href="http://www.cncos.org/ " title="中国光学学会" rel="nofollow" target="_blank">中国光学学会</a>
				</li>
				<li>
					<a href="http://www.gdos.org" title="广东省光学学会" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm02.jpg" alt="广东省光学学会" border="0" /></a>
					<a href="http://www.gdos.org" title="广东省光学学会" rel="nofollow" target="_blank">广东省光学学会</a>
				</li>
				<li>
					<a href="http://www.lightingtec.com/web/lightingtec/07/02a/01.html" title="深圳市照明学会" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm03.jpg" alt="深圳市照明学会" border="0" /></a>
					<a href="http://www.lightingtec.com/web/lightingtec/07/02a/01.html" title="深圳市照明学会" rel="nofollow" target="_blank">深圳市照明学会</a>
				</li>
				<li>
					<a href="http://www.hksslic.hkpc.org/" title="香港半导体照明产业联盟" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm04.jpg" alt="香港半导体照明产业联盟" border="0" /></a>
					<a href="http://www.hksslic.hkpc.org/" title="香港半导体照明产业联盟" rel="nofollow" target="_blank">香港半导体照明产业联盟</a>
				</li>
				<li>
					<a href="http://www.gdfpd.org/Default.aspx" title="广东省LED产业联盟" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm05.jpg" alt="广东省LED产业联盟" border="0" /></a>
					<a href="http://www.gdfpd.org/Default.aspx" title="广东省LED产业联盟" rel="nofollow" target="_blank">广东省LED产业联盟</a>
				</li>
				<li>
					<a href="http://www.fsldctr.org/" title="佛山市香港科技大学LED-FPD工程技术研究开发中心" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm06.jpg" alt="佛山市香港科技大学LED-FPD工程技术研究开发中心" border="0" /></a>
					<a href="http://www.fsldctr.org/" title="佛山市香港科技大学LED-FPD工程技术研究开发中心" rel="nofollow" target="_blank">佛山市香港科技大学LED-FPD工程技术研究开发中心</a>
				</li>
				<li>
					<a href="http://www.gdfpd.org/Default.aspx" title="广东平板显示产业促进会" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm07.jpg" alt="广东平板显示产业促进会" border="0" /></a>
					<a href="#" title="广东平板显示产业促进会" rel="nofollow" target="_blank">广东平板显示产业促进会</a>
				</li>
				<li>
					<a href="http://www.sysu.edu.cn/2012/cn/index.htm" title="中山大学" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm08.jpg" alt="中山大学" border="0" /></a>
					<a href="http://www.sysu.edu.cn/2012/cn/index.htm" title="中山大学" rel="nofollow" target="_blank">中山大学</a>
				</li>
				<li>
					<a href="http://www.scnu.edu.cn/scnu/" title="华南师范大学" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm09.jpg" alt="华南师范大学" border="0" /></a>
					<a href="http://www.scnu.edu.cn/scnu/" title="华南师范大学" rel="nofollow" target="_blank">华南师范大学</a>
				</li>
				<li>
					<a href="http://www.szu.edu.cn/2013/" title="深圳大学" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm10.jpg" alt="深圳大学" border="0" /></a>
					<a href="http://www.szu.edu.cn/2013/" title="深圳大学" rel="nofollow" target="_blank">深圳大学</a>
				</li>
				<li>
					<a href="http://www.scut.edu.cn" title="复旦大学" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm11.jpg" alt="复旦大学" border="0" /></a>
					<a href="http://www.scut.edu.cn" title="复旦大学" rel="nofollow" target="_blank">复旦大学</a>
				</li>
				<li>
					<a href="http://www.sjtu.edu.cn" title="上海交通大学" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm12.jpg" alt="上海交通大学" border="0" /></a>
					<a href="http://www.sjtu.edu.cn" title="上海交通大学" rel="nofollow" target="_blank">上海交通大学</a>
				</li>
				<li>
					<a href="http://www.hit.edu.cn/" title="哈尔滨工业大学" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm13.jpg" alt="哈尔滨工业大学" border="0" /></a>
					<a href="http://www.hit.edu.cn/" title="哈尔滨工业大学" rel="nofollow" target="_blank">哈尔滨工业大学</a>
				</li>
				<li>
					<a href="http://www.sysu.edu.cn/2012/cn/index.htm" title="华中科技大学" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm14.jpg" alt="华中科技大学" border="0" /></a>
					<a href="http://www.sysu.edu.cn/2012/cn/index.htm" title="华中科技大学" rel="nofollow" target="_blank">华中科技大学</a>
				</li>
				<li>
					<a href="http://www.scut.edu.cn" title="华南理工大学" rel="nofollow" target="_blank"><img src="{#$QISHI.site_template#}jobfair_led/images/lm15.jpg" alt="华南理工大学" border="0" /></a>
					<a href="http://www.scut.edu.cn" title="华南理工大学" rel="nofollow" target="_blank">华南理工大学</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="lianxi">
	<strong style="margin-bottom:10px;display:block;">OFweek光电新闻网/OFweek人才网</strong>
	<ul>
		<li><strong>企业招聘联系：</strong>杨小姐</li>
		<li><strong>电话:</strong> +86-755-83279016 - 837</li>
		<li><strong>传真:</strong> +86-755-83279008</li>
		<li><strong>邮件:</strong> sales@ofweek.com</li>
	</ul>
	<ul>
		<li><strong>机构、组织、院校合作联系：</strong>张小姐</li>
		<li><strong>联系QQ：</strong>1825939867</li>
		<li><strong>电话:</strong> +86-755-83279017 - 838</li>
		<li><strong>传真:</strong> +86-755-83279008</li>
		<li><strong>邮件:</strong> zhangxiaofang@netwaymedia.com </li>
	</ul></div>

	{#include file="footer.htm"#}
</body>
</html>

