<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<base target='_blank' />
<style type="text/css">
body {
	margin:0;
	font-family:"宋体";
	font-size:12px;
	color:#444;
}
a { color: #0002FD; text-decoration: underline; }
.highlight {
	color: #E80B0B;
}
img { border: none; }
</style>
<title>简历完善邮件</title>
</head>

<body>
<table border="0" cellspacing="0" cellpadding="0" align="center" style="width:677px;background:url(http://hr.ofweek.com/templates/default/images/email/bg.gif) repeat-y right top;font-family:'宋体';font-size:12px;color:#0A0A0A;">
		<tr>
				<td><table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
				<td align="left" style="background:url(http://hr.ofweek.com/templates/default/images/email/top_right.gif) no-repeat right top;height:66px;"><table border="0" cellspacing="0" cellpadding="0">
		<tr>
				<td style="width:650px;border:1px solid #dedede;border-bottom:none;"><a href='http://hr.ofweek.com/' title='人才网'><img border='0' src="http://hr.ofweek.com/templates/default/images/email/top_bg.jpg" alt='人才网' /></a></td>
		</tr>
</table>
</td>
		</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" style="width:652px;border:1px solid #dedede; border-top:none; border-bottom:none;">
		<tr>
				<td colspan="2" style="padding:0 20px; line-height:25px; "><span style="border-bottom:1px dashed #dedede;"><strong>尊敬的{companyname}：</strong>
						<span style="display:block; text-indent:2em;border-bottom:1px dashed #dedede; margin-bottom:5px;">恭喜您！您在<a href="http://hr.ofweek.com/">OFweek人才网</a>发布的职位{jobs_name}，通过了我们的审核。</span>				</td>
		</tr>
		<tr>
				<td colspan="2" style="padding:0 20px;text-indent:2em; line-height:25px;border-bottom:1px dashed #dedede;">感谢您对OFweek人才网的支持！</td>
		</tr>
		<tr>
				<td colspan="2" style="padding:0 20px;text-indent:2em; line-height:25px;border-bottom:1px dashed #dedede;">祝商祺！</td>
		</tr>

</table>
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="background:url(http://hr.ofweek.com/templates/default/images/email/bottom_right.gif) no-repeat right bottom; height:35px; line-height:35px;">
		<tr>
				<td align="left"><table border="0" cellspacing="0" cellpadding="0" style="width:652px;border:1px solid #dedede; border-top:none;">
		<tr>
				<td align="right" style="padding:10px 20px 10px 0"><a style='text-decoration:none;color:#0000FE;' href='http://hr.ofweek.com'>OFweek人才网</a></td>
		</tr>
</table>
</td>
		</tr>
</table>

</td>
		</tr>

</table>
</body>
</html>
