<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=gb2312" />
<title>个人简历_OFweek人才网</title>
<!-- <script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script> -->
<!-- <script type='text/javascript'>
	$(function() {
		//下载简历
		$("#type2_btn_down").click(function(){
			location.href="resume.php?uid={#$id#}&act=down";
		});
		//收藏简历
		$("#type2_btn_favorites").click(function(){
			location.href="resume.php?uid={#$id#}&act=favorites";
		});
		//发面试通知
		$("#type3_btn_interview").click(function(){
			location.href="company/company_recruitment.php?act=send_interview&uid={#$id#}";
		});
		//转发简历
		$("#type2_btn_send").click(function(){
			location.href="{#$QISHI.site_domain#}/user/company/company_send.php?uid={#$user_info.uid#}";
		});

	{#if $type == 'admin'#}

	$("span.editable").live('click',function(){
		var html = '<textarea style="display:block;line-height:22px;width:'+($(this).width()-5)+'px;height:'+$(this).height()+'px;" data-id="'+$(this).attr('data-id')+'" data-name="'+$(this).attr('data-name')+'">';
		var unstr = removeNL($(this).html());
		html += br2nl(unstr);
		html += '</textarea>';

		var param = encodeURIComponent(unstr).replace(/(')/g,"\\$1");
		html += '<input type="button" onclick="editsave(this)" value="保存">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" onclick="editunsave(\''+param+ '\', this)" value="取消">';
		var parent = $(this).parent();
		$(this).removeAttr('class');
		$(parent).html(html);
	});

	{#/if#}
	});

	function nl2br (str, is_xhtml) {
		var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
		// return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
		return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag );
	}
	function br2nl(txt) {
		var re = /(<br ?\/>|<br>|<BR>|<BR ?\/>)/g;
		var s = txt.replace(re, "\r\n");
		return s;
	}
	function removeNL(str){
		var re = /\r\n|\n\r|\r|\n/g;
		return str.replace(re, '');
	}

	function editsave(ele){
		var textarea = $(ele).parent().children('textarea');
		//ajax保存
		var value = $(textarea).val();
		var type = $(textarea).attr('data-name');
		var id = $(textarea).attr('data-id');
		// console.log('act=resume&type='+type+'&id='+id+'value='+encodeURIComponent(value));
		$.ajax({
			type: "POST",
			url: "{#$QISHI.site_domain#}/admin/personal.php?act=resume",
			data: 'type='+type+'&id='+id+'&value='+encodeURIComponent(value),
			success: function(msg){
				// console.log(msg);
				if(msg != 1){
					alert('修改失败,请重试');
				}
			}
		});

		//刷新显示
		var html = '<span style="display:block;width:620px;word-break:break-all;" class="editable" data-id="'+$(textarea).attr('data-id')+'" data-name="'+$(textarea).attr('data-name')+'">';
		html += nl2br(value);
		html += '</span>';
		$(textarea).parent().html(html);
	}
	function editunsave(str,ele){
		// console.log($(ele).parent().children('textarea'));
		var textarea = $(ele).parent().children('textarea');
		var html = '<span style="display:block;width:620px;word-break:break-all;" class="editable" data-id="'+$(textarea).attr('data-id')+'" data-name="'+$(textarea).attr('data-name')+'">';
		html += nl2br(decodeURIComponent(str));
		html += '</span>';
		$(textarea).parent().html(html);
	}
</script> -->

<style>
	#wrapper { margin:0 auto; color:#444; font:12px/18px Arial; border:1px solid #999; background:url(../images/email/bg-thead.png) repeat-x; }
	#topbar { padding:0 10px; height: 30px; line-height:30px; background:#E8F2FE url(../images/email/bg-thead.png) repeat-x; }
	#topbar a { margin: 0 5px; padding-left:18px; background:url(../images/email/icon-notice.png) no-repeat left center; text-decoration: none; outline: none; }
	#topbar a.send { background-image:url(../images/email/icon-send.png); }
	#topbar a.print { background-image:url(../images/email/icon-print.png); }
	#topbar a.favorite { padding-left: 0; background: none; }
	#topbar a:hover { text-decoration: underline; }
	#footer { padding-bottom: 20px; text-align: center; *zoom: 1; }
	#footer a { display: inline-block; margin: 0 10px; width: 40px; height: 20px; background:url(../images/email/btn-print.png) no-repeat center center; text-decoration: none; outline: none; }
	#footerw a.close { background-image:url(../images/email/btn-close.png); }
</style>
</head>

<body>
<div id='wrapper'>
	<div id='topbar'><a class='notice' href="">面试通知</a> <a class='send' href="">发送简历</a> <a class='print' href="">打印/保存</a> | <a class='favorite' href="">收藏简历</a></div>

	<table width="98%" cellspacing="0" cellpadding="0" border="0" style="margin:0 auto; color:#333; font:12px/18px Arial; border-bottom:#999 dashed 1px;">
		<tbody>
			<tr>
				<td width="30%" style="padding-bottom:10px; border-bottom:#9f9f9f solid 1px;"><img width="185" height="102" style="border:0;" src="http://hr.ofweek.com/templates/default/images/logo.jpg"></td>
				<td width="70%" align="right" style="padding-bottom:10px; border-bottom:#9f9f9f solid 1px;">
					<span style='display:inline-block; width:18em; text-align:left;'><strong>简历编号：</strong><span style="color:#3a78d4;"><strong>J6166003</strong></span></span>
					<br>
					<span style='display:inline-block; width:18em; text-align:left;'>最后更新时间：<span style="color:#3a78d4;">2012-05-20 21:38</span></span>
				</td>
			</tr>
			<tr>
				<td width="30%" style="padding:6px 0 6px 2px; border-bottom:#999 dashed 1px; font-size:28px; line-height:30px; font-weight:bold;">王文 </td>
				<td width="70%" align="right" style="padding:6px 0 6px 2px; border-bottom:#999 dashed 1px; line-height:18px;color:#3a78d4;">应聘岗位：网络工程师</td>
			</tr>
			<tr>
				<td colspan="2">
					<table width="100%" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr>
								<td width="82%" valign="top">
									<table width="100%" cellspacing="0" cellpadding="0" border="0" style="color:#333; font:12px/18px Arial,'宋体';">
										<tbody>
											<tr>
												<td>
													<table width="100%" cellspacing="0" cellpadding="5" style="color:#333; font:12px/18px Arial,'宋体';">
														<tbody>
															<tr>
																<td style="font-weight:bold;" colspan="2">5.0年以上工作经验
																	| 大专
																	| 英语四级
																	| 男
																	| 31岁
																	| 175CM
																	| 已婚 </td>
															</tr>
															<tr>
																<td width="33%"> 目前所在地：<span style="color:#3a78d4;">南山区</span></td>
																<td width="67%"> 户口所在地：<span style="color:#3a78d4;">河南省</span></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td style="border:#a5c9ff 1px solid; background:#f7fbff;" colspan="2">
													<table width="100%" cellspacing="0" cellpadding="5" border="0" style="color:#333; font:12px/18px Arial,'宋体';">
														<tbody>
															<tr>
																<td width="33%"><strong>手机号码：</strong><span style="color:#3a78d4;">13715129377</span></td>
																<td width="33%"><strong>联系电话：</strong><span style="color:#3a78d4;">〖求职意向：Web 前端开发〗</span></td>
																<td width="33%"><strong>公司电话：</strong><span style="color:#3a78d4;"></span></td>
															</tr>
															<tr>
																<td width="33%"><strong>Email：</strong><span style="color:#3a78d4;"><a style="color:#3A78D4; text-decoration:underline;" href='mailto:wangwen1220@139.com'>wangwen1220@139.com</a></span></td>
																<td width="67%" colspan="2"><strong>QQ：</strong><span style="color:#3a78d4;">150291556</span></td>
															</tr>
															<tr>
																<td width="100%" colspan="3"><strong>通信地址：</strong><span style="color:#3a78d4;">深圳市南山区桃源村&nbsp; (邮编：523876）</span></td>
															</tr>
															<tr>
																<td width="100%" colspan="3"><strong>个人主页：</strong><a href="http://seosteven.com/resume" style="color:#3A78D4; text-decoration:underline;" target="_blank">http://seosteven.com/resume</a></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr>
												<td colspan="2">
													<table width="100%" cellspacing="0" cellpadding="5" border="0" style="color:#333; font:12px/18px Arial,'宋体';">
														<tbody>
															<tr>
																<td width="49%"> 目前岗位：<span style="color:#3a78d4;">网页设计/制作/美工</span></td>
																<td width="51%"> 毕业院校：<span style="color:#3a78d4;">郑州华信学院</span></td>
															</tr>
															<tr>
																<td width="49%"> 目前行业：<span style="color:#3a78d4;">互联网/电子商务/网游</span></td>
																<td width="51%"> 专业：<span style="color:#3a78d4;">电子信息科学与技术;</span></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
								<td width="1%"></td>
								<td width="17%" align="center" valign="top"><br>
									<img width="110" height="140" src="../images/email/photo_JobSeekers_cn.gif" style="padding:1px; border:1px solid #a5c9ff;"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<br>

	<table width="98%" cellspacing="0" cellpadding="5" border="0" style="margin:0 auto; border:#a5c9ff 1px solid; font-size:12px; color:#333; font-family:Arial;">
		<tbody>
			<tr>
				<td width="100%" height="18" style="background:#eaf4fe url(../images/email/bg-thead.png) repeat-x; border-bottom:#a5c9ff solid 1px; color:#3A78D4;"><strong>求职意向</strong></td>
			</tr>
			<tr>
				<td> 意向行业：<span style="color:#3a78d4;">互联网/电子商务/网游&nbsp; 计算机软件及服务</span></td>
			</tr>
			<tr>
				<td> 意向岗位：<span style="color:#3a78d4;">网页设计/制作/美工</span></td>
			</tr>
			<tr>
				<td> 意向地区：<span style="color:#3a78d4;">南山区&nbsp; 福田区&nbsp; 宝安区</span></td>
			</tr>
			<tr>
				<td> 可到岗时间：<span style="color:#3a78d4;">随时到岗</span></td>
			</tr>
			<tr>
				<td> 期望月薪：<span style="color:#3a78d4;">面议</span>（不要求提供住房） </td>
			</tr>
		</tbody>
	</table>
	<br>

	<table width="98%" cellspacing="0" cellpadding="5" border="0" style="margin:0 auto; border:#a5c9ff 1px solid; font-size:12px; color:#333; font-family:Arial;">
		<tbody>
			<tr>
				<td width="100%" height="18" style="background:#eaf4fe url(../images/email/bg-thead.png) repeat-x; border-bottom:#a5c9ff solid 1px; color:#3A78D4;"><strong>技能专长</strong></td>
			</tr>
			<tr>
				<td style="line-height:22px;">1、对当前流行的网页前端开发及 Web 标准有深刻的理解，并能运用 Web 标准的理念对网站进行重构与优化 <br>
					2、精通 XHTML、CSS 与 jQuery 等前端开发技术，能熟练手写代码，代码简洁规范，符合 W3C 标准，兼容主流浏览器 <br>
					3、有学习与实践 HTML5 和 CSS3 先进前端开发技术经验 <br>
					4、对 ASP、 PHP 等后台语言有一定了解，能编写简单代码 <br>
					5、有平面设计基础，能熟练操作 Photoshop 等图片处理软件 <br>
					<br>
					【求职意向：Web 前端开发】</td>
			</tr>
		</tbody>
	</table>
	<br>

	<table width="98%" cellspacing="0" cellpadding="5" border="0" style="margin:0 auto; border:#a5c9ff 1px solid; font-size:12px; color:#333; font-family:Arial;">
		<tbody>
			<tr>
				<td width="100%" height="18" style="background:#eaf4fe url(../images/email/bg-thead.png) repeat-x; border-bottom:#a5c9ff solid 1px; color:#3A78D4;"><strong>技能专长</strong></td>
			</tr>
			<tr>
				<td style="line-height:22px;">1、对当前流行的网页前端开发及 Web 标准有深刻的理解，并能运用 Web 标准的理念对网站进行重构与优化 <br>
					2、精通 XHTML、CSS 与 jQuery 等前端开发技术，能熟练手写代码，代码简洁规范，符合 W3C 标准，兼容主流浏览器 <br>
					3、有学习与实践 HTML5 和 CSS3 先进前端开发技术经验 <br>
					4、对 ASP、 PHP 等后台语言有一定了解，能编写简单代码 <br>
					5、有平面设计基础，能熟练操作 Photoshop 等图片处理软件
				</td>
			</tr>
		</tbody>
	</table>
	<br>

	<table width="98%" cellspacing="0" cellpadding="5" border="0" style="margin:0 auto; border:#a5c9ff 1px solid; font-size:12px; color:#333; font-family:Arial;">
		<tbody>
			<tr>
				<td width="100%" height="18" style="background:#eaf4fe url(../images/email/bg-thead.png) repeat-x; border-bottom:#a5c9ff solid 1px; color:#3A78D4;"><strong>工作经验</strong></td>
			</tr>
			<tr>
				<td><table width="100%" cellspacing="0" cellpadding="5" border="0" style="font:12px/18px Arial,'宋体';">
						<tbody>
							<tr>
								<td style="color:#333;"><strong>东莞力康国际有限公司</strong><span style="color:#666;"> （3年1月） </span></td>
							</tr>
							<tr>
								<td style="font-weight:bold;"><span style="color:#3a78d4;">2009/02至2012/03 | </span><span style="color:#3a78d4;">网站前端开发与重构</span>&nbsp;|
									月薪：<span style="color:#3a78d4;">保密</span></td>
							</tr>
							<tr>
								<td style="color:#666;"><strong>工作描述</strong></td>
							</tr>
							<tr>
								<td style="line-height:20px;">主要工作职责：公司网站前端开发和优化，主要使用的前端技术有 XHTML、 CSS、 javascript 和 jQuery <br>
									1、 重构了 367net.com 网站，优化了网站结构和代码，加快了网站打开速度，提升了网站的排名和流量 <br>
									2、 设计与开发了 lieko.com 与 yingjiawireless.com 等英文网站，兼容主流浏览器，实现了结构、表现和行为的分离</td>
							</tr>
						</tbody>
					</table>
					<table width="100%" cellspacing="0" cellpadding="5" border="0" style="font:12px/18px Arial,'宋体';">
						<tbody>
							<tr>
								<td style="color:#333;"><strong>郑州玉龙广告公司</strong><span style="color:#666;"> （1年5月） </span></td>
							</tr>
							<tr>
								<td style="font-weight:bold;"><span style="color:#3a78d4;">2007/07至2008/12 | </span><span style="color:#3a78d4;">平面设计师</span>&nbsp;|
									月薪：<span style="color:#3a78d4;">保密</span></td>
							</tr>
							<tr>
								<td style="color:#666;"><strong>工作描述</strong></td>
							</tr>
							<tr>
								<td style="line-height:20px;">1、 负责平面广告的设计与制作 <br>
									2、 主要使用的软件有 CorelDraw 和 Photoshop</td>
							</tr>
						</tbody>
					</table></td>
			</tr>
		</tbody>
	</table>
	<br>

	<table width="98%" cellspacing="0" cellpadding="5" border="0" style="margin:0 auto; border:#a5c9ff 1px solid; font-size:12px; color:#333; font-family:Arial;">
		<tbody>
			<tr>
				<td width="100%" height="18" style="background:#eaf4fe url(../images/email/bg-thead.png) repeat-x; border-bottom:#a5c9ff solid 1px; color:#3A78D4;"><strong>自我评价</strong></td>
			</tr>
			<tr>
				<td style="line-height:22px;">1.有丰富网站前端开发与重构经验，熟悉网站前端优化，SEO优化和图片优化； <br>
					2.有英文网站前端开发经验，兼容主流浏览器，结构、表现和行为分离，代码书写规范简洁； <br>
					3.熟悉常用的后台开发语言，如ASP、PHP、JSP和Rails,对网站内部SEO优化有一定的研究； <br>
					4.熟悉各种前端开发技术，能熟练手写符合 W3C 标准的代码，有学习与实践 HTML5 和 CSS3 前沿技术经验； <br>
					5.有平面设计基础，能熟练操作 Photoshop 等平面设计软件。</td>
			</tr>
		</tbody>
	</table>
	<br>

	<table width="98%" cellspacing="0" cellpadding="5" border="0" style="margin:0 auto; border:#a5c9ff 1px solid; font-size:12px; color:#333; font-family:Arial;">
		<tbody>
			<tr>
				<td width="100%" height="18" style="background:#eaf4fe url(../images/email/bg-thead.png) repeat-x; border-bottom:#a5c9ff solid 1px; color:#3A78D4;"><strong>教育背景</strong></td>
			</tr>
			<tr>
				<td><table width="100%" cellspacing="0" cellpadding="0" border="0" style="font:12px/18px Arial,'宋体';">
						<tbody>
							<tr>
								<td style="font-weight:bold;"><span style="color:#3a78d4;">2003/09至2007/07</span>&nbsp;| <span style="color:#3a78d4;">郑州华信学院</span>&nbsp;| <span style="color:#3a78d4;">计算机应用与技术</span>&nbsp;| <span style="color:#3a78d4;">大专</span></td>
							</tr>
							<tr>
								<td style="line-height:22px;">主修：网页制作（HTML，CSS，JS 等前端开发技术）、平面设计（Photoshop，CorelDraw 等）与 C++ 语言</td>
							</tr>
						</tbody>
					</table></td>
			</tr>
		</tbody>
	</table>
	<br>

	<table width="98%" cellspacing="0" cellpadding="5" border="0" style="margin:0 auto; border:#a5c9ff 1px solid; font-size:12px; color:#333; font-family:Arial;">
		<tbody>
			<tr>
				<td width="100%" height="18" style="background:#eaf4fe url(../images/email/bg-thead.png) repeat-x; border-bottom:#a5c9ff solid 1px; color:#3A78D4;" colspan="2"><strong>语言能力与技巧</strong></td>
			</tr>
			<tr>
				<td width="33%"> 英语水平：<span style="color:#3a78d4;">一般&nbsp; 四级</span></td>
				<td width="67%"> 计算机水平：<span style="color:#3a78d4;">熟练</span></td>
			</tr>
		</tbody>
	</table>
	<br>

	<div id='footer'><a class='print btn' href="" onclick='print();' title='打印'></a> <a class='close btn' href="" title='关闭'></a></div>
</div>
</body>
</html>