<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=GB2312" />
<base target='_blank' />
<style type="text/css">
body {
	margin:0;
	font-family:"宋体";
	font-size:12px;
	color:#444;
}
a { color: #0002FD; text-decoration: underline; }
.highlight {
	color: #E80B0B;
}
img { border: none; }
</style>
<title>职位推荐邮件</title>
</head>

<body>
<table border="0" cellspacing="0" cellpadding="0" align="center" style="width:677px;background:url(http://hr.ofweek.com/templates/default/images/email/bg.gif) repeat-y right top;font-family:'宋体';font-size:12px;color:#0A0A0A;">
		<tr>
				<td><table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
				<td align="left" style="background:url(http://hr.ofweek.com/templates/default/images/email/top_right.gif) no-repeat right top;height:66px;"><table border="0" cellspacing="0" cellpadding="0">
		<tr>
				<td style="width:650px;border:1px solid #dedede;border-bottom:none;"><a href='http://hr.ofweek.com/' title='人才网'><img border='0' src="http://hr.ofweek.com/templates/default/images/email/top_bg.jpg" alt='OFweek人才网' /></a></td>
		</tr>
</table>
</td>
		</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" style="width:652px;border:1px solid #dedede; border-top:none; border-bottom:none;">
		<tr>
				<td style="padding:0 20px; line-height:25px; ">
					<span style=""><strong>尊敬的{friend_name}：</strong>
						<span style="display:block; text-indent:2em;">您好！您的朋友{fullname}在<a href='http://hr.ofweek.com'>OFweek人才网</a>看到{companyname}在招聘<a href='http://hr.ofweek.com/jobs/jobs-show-{id}.html'>{jobs_name}</a>。觉得比较适合你，现将此职位推荐给您，详情如下：</span></span></td>
		</tr>
		<tr>
		<td style="padding:5px 20px 0;line-height:25px; ">
						<table border="0" cellspacing="0" cellpadding="0" width="100%">
								<tr>
										<td style="background:url(http://hr.ofweek.com/templates/default/images/email/fangdian.gif) #f1f6fa no-repeat 5px 7px; padding-left:20px;font-weight:bold;">职位名称：</td>
								</tr>
						</table></td>
						</tr>
						<tr>
				<td style="padding:10px 20px;line-height:25px; "><table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
				<td width="16%" bgcolor="#f3f3f3" style="border:1px solid #ddd; padding-left:10px;">专业要求</td>
				<td width="17%" style="border:1px solid #ddd; border-left:none; padding-left:10px;">{request}&nbsp; </td>
				<td width="17%" bgcolor="#f3f3f3" style="border:1px solid #ddd; border-left:none; padding-left:10px;">学历要求</td>
				<td width="16%" style="border:1px solid #ddd; border-left:none; padding-left:10px;">{education_cn}&nbsp; </td>
				<td width="17%" bgcolor="#f3f3f3" style="border:1px solid #ddd; border-left:none; padding-left:10px;">薪酬</td>
				<td style="border:1px solid #ddd; border-left:none; padding-left:10px;">{wage_cn}&nbsp; </td>
		</tr>
		<tr>
				<td bgcolor="#f3f3f3" style="border:1px solid #ddd;border-top:none; padding-left:10px;">工作地点</td>
				<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px;">{district_cn}&nbsp; </td>
				<td bgcolor="#f3f3f3" style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px;">外语要求</td>
				<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px;">{english_cn}&nbsp; </td>
				<td bgcolor="#f3f3f3" style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px;">年龄要求</td>
				<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px;">{age_cn}&nbsp; </td>
		</tr>
		<tr>
				<td bgcolor="#f3f3f3" style="border:1px solid #ddd;border-top:none; padding-left:10px;">工作年限</td>
				<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px;">{experience_cn}&nbsp; </td>
				<td bgcolor="#f3f3f3" style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px;">招聘人数</td>
				<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px;">{amount_cn}&nbsp; </td>
				<td bgcolor="#f3f3f3" style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px;">工作性质</td>
				<td style="border-bottom:1px solid #ddd; border-right:1px solid #ddd; padding-left:10px;">{nature_cn}&nbsp; </td>
		</tr>
</table>
</td>
		</tr>
		<tr>
				<td style="padding:0 20px;line-height:25px; ">
						<table border="0" cellspacing="0" cellpadding="0" width="100%">
								<tr>
										<td style="background:url(http://hr.ofweek.com/templates/default/images/email/fangdian.gif) #f1f6fa no-repeat 5px 7px; padding-left:20px;font-weight:bold;">岗位职责：</td>
								</tr>
						</table></td>
		</tr>
		<tr>
				<td style="padding:10px 20px;line-height:25px; "><table border="0" cellspacing="0" cellpadding="0" width="100%">
		<tr>
				<td width="16%" style="padding-left:10px;line-height:18px;">
							{contents}
				</td>
		</tr>
		</table></td>
		</tr>

		<tr>
				<td style="padding:0 20px; text-indent:10px; line-height:25px;">>>> <a href="http://hr.ofweek.com/company/company-show-{uid}.html" style="color:#c2261a;" target="_blank">查看公司详细信息</a></td>
		</tr>
		<tr>
		<td align="center"><a href="http://hr.ofweek.com/jobs/jobs-show-{id}.html" target="_blank" title='申请职位'><img border='0' src="http://hr.ofweek.com/templates/default/images/email/btn-apply-for-jobs.png" alt="申请职位" border="0" /></a></td>
		</tr>
</table>
<table border="0" cellspacing="0" cellpadding="0" width="100%" style="background:url(http://hr.ofweek.com/templates/default/images/email/bottom_right.gif) no-repeat right bottom; height:35px; line-height:35px;">
		<tr>
				<td align="left"><table border="0" cellspacing="0" cellpadding="0" style="width:652px;border:1px solid #dedede; border-top:none;">
		<tr>
				<td><span style="display:block;margin-right:15px;float:right;background:url(http://hr.ofweek.com/templates/default/images/email/hao_y.gif) no-repeat 0 50%; padding-left:20px;">您的好友：{fullname}</span></td>
		</tr>
</table>
</td>
		</tr>
</table>

</td>
		</tr>

</table>
</body>
</html>
