<link href="{#$QISHI.site_template#}css/company.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
	//验证表单
	$("#Form1").validate({
		//规则
		rules:{
		//职位名称
		title:{
			required: true,
			maxlength:20
		},
		email:{
			required: true
		},
		feedback:{
			required: true,
			maxlength:300
		}
		},

		//提示
		messages: {
		//职位名称
		title:{
			required: "标题不能为空",
			maxlength: jQuery.format("邮件主题不能大于{0}个字符")
		},
		email:{
			required: "邮箱地址不能为空"
		},
		feedback:{
			required: "具体描述不能为空",
			maxlength: jQuery.format("邮件主题不能大于{0}个字符")
		}
		},

		errorPlacement: function(error, element) {
			if ( element.is(":radio") )
				error.appendTo( element.parent().next().next() );
			else if ( element.is(":checkbox") )
				error.appendTo ( element.next());
			else
				error.appendTo(element.parent());
		}
	});
});
</script>
<div id="mian" style='overflow:hidden;*zoom:1;'>
	<div class="conter mtop">
		<div>
			<form id="Form1" name="Form1" action="company_message.php?act=feedback_save" method="post" enctype="multipart/form-data">
				<div class="xiu_g" style='width: auto; float: none; padding: 10px;'>
					<table border="0" width="100%">
						<tbody>
							<tr>
								<td align="right" width="26%"><span class="f_red">*</span>标题：</td>
								<td width="74%"  align="left"><input type="text" name="title" id="title" value="" maxlength="20" style='width:150px;' /></td>
							</tr>
							<tr>
								<td align="right" width="26%"><span class="f_red">*</span>反馈类别：</td>
								<td width="74%"  align="left"><select  style="height:20px;width:200px;" name="infotype">
										<option value="1" >意见</option>
										<option value="2" >建议</option>
										<option value="3" >求助</option>
										<option value="4" >投诉</option>
									</select></td>
							</tr>
							<tr>
								<td align="right" width="26%"><span class="f_red">*</span>具体描述：</td>
								<td width="74%"  align="left"><textarea name="feedback" id="feedback" cols="80" rows="8" maxlength="300"></textarea></td>
							</tr>
							<tr>
								<td align="right" width="26%"><span class="f_red">*</span>邮箱地址：</td>
								<td width="74%"  align="left"><input type="text" name="email" id="email" value="" style='width:150px;' /></td>
							</tr>
							<tr>
								<td align="right" width="26%">图片附件：</td>
								<td width="74%"  align="left"><input style="width:245px;" name="file" type="file"></td>
							</tr>
							<tr>
								<td align="right" width="26%">&nbsp;</td>
								<td width="74%"  align="left"><label>
									<input name="submit" value="提  交" class="btnm" type="submit">
									</label></td>
							</tr>
							<tr>
								<td colspan="2" align="left"><strong>温馨提醒：</strong><br>
									1.为了能更好的解决您提出的问题，请对问题情况作出详细的描述或者提供错误的截图。图片格式为jpg/gif/bmp格式，大小不超过1M<br>
									2.感谢您对我们的支持！ </td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
	</div>
</div>