<div class="job">
        <div class="fuwu"><img src="{#$QISHI.site_template#}images/tb_1.gif">
          <h3><a href="index.php">求职服务中心</a></h3>
        </div>
        <div class="guan mtop">
        	<div class="jian">
              <h3><img src="{#$QISHI.site_template#}images/tb_2.gif">简历管理</h3>
              <ul>
                <li><a href="personal_resume.php">简历修改</a></li> 
				<li><a target="_blank" href="personal_resume.php?act=resume_show">简历预览</a></li>
                <li><a href="personal_private.php">保密设定</a></li>
                <li><a href="personal_file.php">附件管理</a></li>
              </ul>
           </div>
            <div class="jian">
              <h3><img src="{#$QISHI.site_template#}images/tb_3.gif">工作机会</h3>
              <ul>
                <li><a href="personal_apply.php">面试管理</a></li>
                <li><a href="personal_apply.php?act=apply_jobs">职位申请记录</a></li>
                <li><a href="personal_apply.php?act=favorites">职位收藏</a></li>
                <li><a href="{#$QISHI.site_dir#}jobs/jobsearch.php" target="_blank">职位搜索</a></li>
                <li><a href="personal_send.php">外发简历</a></li>
              </ul>
           </div>
            <div class="jian">
              <h3><img src="{#$QISHI.site_template#}images/tb_4.gif">系统工具</h3>
              <ul>
                 <li><a href="personal_user.php?act=sms">系统消息</a></li>
                <li><a href="personal_user.php?act=pwd">修改密码</a></li>
                <li><a href="personal_user.php?act=feedback">意见反馈</a></li>
                <li><a href="#" onclick="return logout();">安全退出</a></li>
              </ul>
           </div>
        </div>