
      <div class="weiz">您当前所在位置： 系统工具</a> >> <a href="personal_user.php?act=sms">系统消息</div>


 <div class="shen_ul">
		<form id="form1" name="form1" method="post" action="?act=del_sms" >
		<div class="xiu_g">
		<table width="100%" border="0">
                      <tr>
                        <td align="center"><strong style="color:#bd0000; font-size:14px;">{#$message.title#}</strong></td>
                      </tr>
                      <tr>
                        <td>{#$message.feedback|nl2br#}</td>
                      </tr>
                    </table>
             </div>
		</form>
	</div>
