body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:230px;
    top:157px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../管理员登陆_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:204px;
    top:36px;
    width:556px;
    height:94px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:556px;
    height:94px;
}

.u2 {
    position:absolute;
    left:2px;
    top:39px;
    width:552px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:325px;
    top:152px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:230px;
    top:208px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:325px;
    top:203px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:230px;
    top:267px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:325px;
    top:262px;
    width:89px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8_normal {
    background-image: url('../管理员登陆_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:455px;
    top:262px;
    width:78px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:25px;
}

.u9 {
    position:absolute;
    left:2px;
    top:4px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:550px;
    top:267px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../管理员登陆_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:325px;
    top:311px;
    width:100px;
    height:25px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u12 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

