<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="OFweek人才网" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/home.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/company.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/74cms.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.validate.min.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.user.selectlayer.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.vtip-min.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_dir#}data/cache_classify.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
.tishi{
	width:274px;
	display:block;
	float:right;
	text-align:left;
	}
.ts_dui{
	width:254px;
	display:block;
	float:right;
	padding-left:20px;
	color:#509a00;
	text-align:left;
	}
.ts_cuo{
	width:254px;
	display:block;
	float:right;
	padding-left:20px;
	color:#cc0001;
	text-align:left;
	}
.qiang{
	width:194px;
	display:block;
	float:right;
	padding-left:10px;
	color:#1a9d00;
	padding-left:80px;
	text-align:left;
	background:url({#$QISHI.site_template#}images/qiang.gif) no-repeat 10px 9px;
	}
.zhong{
	width:194px;
	display:block;
	float:right;
	padding-left:10px;
	color:#1a9d00;
	padding-left:80px;
	text-align:left;
	background:url({#$QISHI.site_template#}images/zhong.gif) no-repeat 10px 9px;
	}
.ruo{
	width:194px;
	display:block;
	float:right;
	padding-left:10px;
	color:#1a9d00;
	padding-left:80px;
	text-align:left;
	background:url({#$QISHI.site_template#}images/ruo.gif) no-repeat 10px 9px;
	}
</style>
<script type="text/javascript">
function Trim(TRIM_VALUE){
	if(TRIM_VALUE.length < 1){
		return"";
	}
	TRIM_VALUE = RTrim(TRIM_VALUE);
	TRIM_VALUE = LTrim(TRIM_VALUE);
	if(TRIM_VALUE==""){
		return "";
	}
	else{
		return TRIM_VALUE;
	}
}
function RTrim(VALUE){
	var w_space = String.fromCharCode(32);
	var v_length = VALUE.length;
	var strTemp = "";
	if(v_length < 0){
		return"";
	}
	var iTemp = v_length -1;

	while(iTemp > -1){
		if(VALUE.charAt(iTemp) == w_space){
		}
		else{
			strTemp = VALUE.substring(0,iTemp +1);
			break;
		}
		iTemp = iTemp-1;

	} // End While
	return strTemp;
}
function LTrim(VALUE){
	var w_space = String.fromCharCode(32);
	if(v_length < 1){
		return"";
	}
	var v_length = VALUE.length;
	var strTemp = "";

	var iTemp = 0;

	while(iTemp < v_length){
		if(VALUE.charAt(iTemp) == w_space){
		}
		else{
			strTemp = VALUE.substring(iTemp,v_length);
			break;
		}
		iTemp = iTemp + 1;
	} // End While
	return strTemp;
}
function z_num_char(str){
	var reg = /^[0-9a-zA-Z]+$/;
	return reg.test(str);
}
$(document).ready(function(){
	$("#password_old").blur(function(){
		var pl = $("#password_old").val();
		pl = Trim(pl);
		if(pl == ''){$("#tip_password_old").html('<span class="ts_cuo">对不起，旧密码不能为空！</span>');}
		else{
			$.get('/api/member_check_pwd.php?password='+pl,function(data){
				if(data == 1){$("#tip_password_old").html('<span class="tishi">&nbsp;</span>');}
				else{$("#tip_password_old").html('<span class="ts_cuo">密码不正确！</span>');}
			});
		}
	});
	$("#password").change(function(){
		var pl = $("#password").val();
		pl = Trim(pl);
		if(pl == ''){$("#tip_password").html('<span class="ts_cuo">对不起，登陆密码不能为空！</span>');}
		else if(!z_num_char(pl)) {$("#tip_password").html('<span class="ts_cuo">6~50个字符，可使用字母、数字.</span>');}
		else if(pl.length>=6 && pl.length<=50){
			$("#tip_password").html('<span class="tishi">&nbsp;</span>');
		}
		else{$("#tip_password").html('<span class="ts_cuo">6~50个字符，可使用字母、数字</span>');}
	});
	$("#password2").blur(function(){
		var pl = $("#password").val();
		var pl2 = $("#password2").val();
		pl = Trim(pl);
		pl2 = Trim(pl2);
		if(pl2 == ''){$("#tip_password2").html('<span class="ts_cuo">对不起，请输入确认密码！</span>');}
		else if(pl == pl2){$("#tip_password2").html('<span class="tishi">&nbsp;</span>');}
		else{$("#tip_password2").html('<span class="ts_cuo">对不起，您2次输入的密码不一致，请确认！</span>');}
	});
	
	$("#form_pwd").submit(function(){
		
		var b = true;
		
		//
		var pl = $("#password_old").val();
		pl = Trim(pl);
		if(pl == ''){$("#tip_password_old").html('<span class="ts_cuo">对不起，旧密码不能为空！</span>');b=false;}
		
		//
		var pl = $("#password").val();
		pl = Trim(pl);
		if(pl == ''){$("#tip_password").html('<span class="ts_cuo">对不起，登陆密码不能为空！</span>');b=false;}
		else if(pl.length>=6 && pl.length<=50){
			$("#tip_password").html('<span class="tishi">&nbsp;</span>');
		}
		else{$("#tip_password").html('<span class="ts_cuo">6~50个字符，可使用字母、数字</span>');b=false;}
		
		//
		var pl = $("#password").val();
		var pl2 = $("#password2").val();
		pl = Trim(pl);
		pl2 = Trim(pl2);
		if(pl2 == ''){$("#tip_password2").html('<span class="ts_cuo">对不起，请输入确认密码！</span>');b=false;}
		else if(pl == pl2){$("#tip_password2").html('<span class="tishi">&nbsp;</span>');}
		else{$("#tip_password2").html('<span class="ts_cuo">对不起，您2次输入的密码不一致，请确认！</span>');b=false;}
		
		return b;
	});
});
</script>
<body>
<div id="mian">
  {#include file="header_nosearch.htm"#}
  <div class="conter mtop">
    {#include file="member_company/left.htm"#}
	<div class="righter">
      <div class="weiz">您当前所在位置：<a href="company_index.php">企业中心</a>&nbsp;&gt;&gt;&nbsp;系统工具&nbsp;&gt;&gt;&nbsp;修改密码</div>
      <div class="zhao_p">
      
      
<form id="form_pwd" action="company_user.php?act=save_password" method="post" >
			<table width="90%" cellspacing="5" cellpadding="0" border="0" align="center">
				<tbody><tr>
					<td valign="middle" height="25" style="border-bottom: 1px solid #CCCCCC; font-size: 16px; text-align: center;" class="text_red12" colspan="3">
						修改密码
					</td>
				</tr>
				<tr>
					<td></td>
					<td height="25" style="font-size: 14px;" class="text_red12" colspan="2">
						
					</td>
				</tr>
				<tr>
					<td width="120px">
						用户名
					</td>
					<td>
						{#$member_username#}
					</td>
					<td>
					</td>
				</tr>
				<tr height="30">
					<td width="120px">
						旧密码
					</td>
					<td width="250px">

						<input type="password" class="input" style="width:200px;font-size:14px;" id="password_old" value="" maxlength="50" name="password_old">
					</td>
					<td>
						<div id="tip_password_old">
							<span class="text_yellow12">（旧密码不可以为空,且长度6到50位）</span>
						</div>
					</td>
				</tr>
				<tr height="30">
					<td width="120px">
						新密码
					</td>
					<td>
						<input type="password" class="input" style="width:200px;font-size:14px;" id="password" value="" maxlength="50" name="password">
					</td>
					<td>
						<div id="tip_password">
							<span class="text_yellow12">（新密码不可以为空,且长度6到50位）</span>
						</div>
					</td>
				</tr>
				<tr height="30">
					<td width="120px">
						重复新密码
					</td>
					<td>
						<input type="password" class="input" style="width:200px;font-size:14px;" id="password2" value="" maxlength="50" name="password2">
					</td>
					<td>
						<div id="tip_password2">
							<span class="text_yellow12">&nbsp;</span>
						</div>
					</td>
				</tr>
				<tr>
					<td height="10px" colspan="3"></td>
				</tr>
				<tr>
					<td width="60px"></td>
					<td colspan="2">
						<input type="text" class="inputtext" style="display:none" value="personUserPasswordUpdat" name="method">
						<input type="submit" value="提 交" id="form_pwd_submit">
						<input type="reset" value="重 置" style="text-align: center;" class="button2">
					</td>
				</tr>
			</tbody></table>
		</form>   
      
      
      </div>
    </div>
  </div>
  {#include file="footer.htm"#}
</div>
</body>
</html>