<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{#$title#}</title>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<link rel="shortcut icon" href="{#$QISHI.site_dir#}favicon.ico" />
<meta name="author" content="OFweek人才网" />
<meta name="copyright" content="74cms.com" />
<link href="{#$QISHI.site_template#}css/home.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/company.css" rel="stylesheet" type="text/css" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.idTabs.min.js" type='text/javascript' language="javascript"></script>
<script src="{#$QISHI.site_template#}js/jquery.vtip-min.js" type='text/javascript' language="javascript"></script>
</head>
<body>
<div id="mian">
  {#include file="header_nosearch.htm"#}
  <div class="conter mtop">
    {#include file="member_company/left.htm"#}
    <div class="righter">
    <form id="fm_jblist" name="fm_jblist" action="company_jobs.php?act=jobs_save" method="post">
    <input type="hidden" id="refer" name="refer" value="{#$refer#}" />
    <input type="hidden" id="opname" name="opname" value="" />
      <div class="weiz">您当前所在位置：<a href="company_index.php">企业中心</a>&nbsp;&gt;&gt;&nbsp;职位管理&nbsp;&gt;&gt;&nbsp;管理招聘职位</div>
      <div class="fabu"><img src="{#$QISHI.site_template#}images/fa1.gif" /><strong><a href="company_jobs.php?act=jobs">管理招聘信息</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="company_jobs.php?act=sort" title="修改职位排序">职位排序</a></strong></div>
      <div class="zhao_p">
        <div class="tite_qh">
          <ul>
            <li><a href="" title="更新职位的刷新时间" onclick="jbsubmit('refresh');return false;"><img src="{#$QISHI.site_template#}images/fa9.gif" />刷新招聘信息</a></li>
            <li><a href="" title="将职位修改为发布状态" onclick="jbsubmit('repost');return false;"><img src="{#$QISHI.site_template#}images/fa8.gif" />发布/重新发布</a></li>
            <li><a href="" title="将停止的职位设置为启动状态" onclick="jbsubmit('start');return false;"><img src="{#$QISHI.site_template#}images/fa4.gif" />启用</a></li>
            <li><a href="" title="暂停职位" onclick="jbsubmit('stop');return false;"><img src="{#$QISHI.site_template#}images/fa6.gif" />停止</a></li>
            <li><a href="" title="删除职位，将无法恢复" onclick="if(confirm('您确定要删除选定的职位吗？'))jbsubmit('del');return false;"><img src="{#$QISHI.site_template#}images/fa7.gif" />删除</a></li>
          </ul>
        </div>
        <div class="hr_gua">
        	<table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tr>
              	<td width="7%" align="center" bgcolor="#eff5ff"><label>
              	  <input type="checkbox" name="jblist" id="jblist" />
              	</label></td>
                <td width="13%" align="center" bgcolor="#eff5ff">职位名称</td>
                <td width="11%" align="center" bgcolor="#eff5ff"><select name="jobtype" id="jobtype">
                  <option{#if $jobtype==0#} selected="selected"{#/if#} value="0">不限</option>
				  <option{#if $jobtype==1#} selected="selected"{#/if#} value="1">发布中</option>
				  <option{#if $jobtype==2#} selected="selected"{#/if#} value="2">草稿</option>
				  <option{#if $jobtype==4#} selected="selected"{#/if#} value="4">待审核</option>
				  <option{#if $jobtype==5#} selected="selected"{#/if#} value="5">已过期</option>
				  <option{#if $jobtype==6#} selected="selected"{#/if#} value="6">已停止</option>
				  <option{#if $jobtype==7#} selected="selected"{#/if#} value="7">审核未通过</option>
                </select></td>
                <td width="16%" align="center" bgcolor="#eff5ff"><select name="provice" id="provice">
                <option value="0">地区</option>
                {#foreach from=$proviceList item=list#}
                  <option{#if $provice==$list.id#} selected="selected"{#/if#} value="{#$list.id#}">{#$list.categoryname#}</option>
                {#/foreach#}
                </select></td>
                <td width="17%" align="center" bgcolor="#eff5ff">发布时间</td>
                <td width="15%" align="center" bgcolor="#eff5ff">刷新时间</td>
                <td width="10%" align="center" bgcolor="#eff5ff">应聘人数</td>
                <td width="11%" align="center" bgcolor="#eff5ff">修改</td>
              </tr>
              
              {#foreach from=$jobs item=list#}
              <tr>
              	<td width="7%" align="center"><label>
              	  <input type="checkbox" name="jobslist[]" value="{#$list.id#}" />
              	</label></td>
                <td width="13%" align="center"><a href="/jobs/jobs-show-{#$list.id#}.html" title="{#$list.jobs_name#}" style="width:155px;display:block;float:left;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;" target="_blank" class="tips">{#$list.jobs_name#}</a></td>
                <td width="11%" align="center"><span class="{#$list.show_status_style#}">{#$list.show_status#}</span></td>
                <td width="16%" align="center">{#$list.district_cn#}</td>
                <td width="17%" align="center">{#$list.addtime#}</td>
                <td width="15%" align="center">{#$list.refreshtime#}</td>
                <td width="10%" align="center"><a href="company_recruitment.php?act=apply_jobs&jobsid={#$list.id#}">{#$list.apply_num#}</a></td>
                <td width="11%" align="center"><a href="company_jobs.php?act=editjobs&id={#$list.id#}" title="修改"><img src="{#$QISHI.site_template#}images/fa10.gif" /></a></td>
              </tr>
              {#/foreach#}

              <tr>
                <td bgcolor="#EEEEEE" colspan="6"><span style="float:left; padding:0px 20px;">共{#$total#}条记录</span><div class="page">{#$pageHTML#}</div></td>
                <td colspan="2" bgcolor="#EEEEEE">
                每页显示
                  <select name="numselect" id="numselect">
                  <option{#if $num==10#} selected="selected"{#/if#} value="10">10</option>
				  <option{#if $num==20#} selected="selected"{#/if#} value="20">20</option>
				  <option{#if $num==30#} selected="selected"{#/if#} value="30">30</option>
                </select>
                </td>
            </tr>
              <tr>
              	<td align="right"><span class="f_red">提示：</span></td>
              	<td colspan="7">点击应聘人数数字，进入查看应聘简历列表。应聘人次是累计数字，删除的简历将不会改变此数字。</td>
              </tr>
            </table>
        </div>
        
      </div>
    </form>
    </div>
  </div>
  {#include file="footer.htm"#}
</div>

<script>
$(document).ready(function(){
	$("#jobtype").change(function(){
		var pl=$(this).children('option:selected').val();
		window.location.href="{#$url_jobtype#}"+pl;
	});
	$("#provice").change(function(){
		var pl=$(this).children('option:selected').val();
		window.location.href="{#$url_provice#}"+pl;
	});
	$('#numselect').change(function(){ 
		var p1=$(this).children('option:selected').val();
		window.location.href="{#$url_num#}"+p1;
	});	
	$('input[name="stop"]').change(function(){
		var cbox_val = this.checked;
		if(cbox_val == true) {window.location.href="{#$url_stop#}1";}
		else {window.location.href="{#$url_stop#}0";}
	});
	$('input[name="jblist"]').click(function(){
		var cbox_val = this.checked;
		$('input[name="jobslist[]"]').each(function(){this.checked=cbox_val;});
	});
})

function jbsubmit(v){
	$('#opname').val(v);
	$('#fm_jblist').submit();
}
</script>
</body>
</html>
