<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>名企招聘-OFweek人才网</title>
<meta name="keywords" content="名企招聘,500强招聘,知名企业招聘信息,行业龙头招聘, 广东名企,深圳名企">
<meta name="description" content="OFweek人才网名企招聘，提供知名企业招聘信息、行业龙头企业招聘信息，为企业提供高级人才招聘服务，大量高薪职位紧缺，赶紧来看看吧！">
<link href="{#$QISHI.site_template#}css/home.css" rel="stylesheet" type="text/css" />
<link href="{#$QISHI.site_template#}css/css.css" rel="stylesheet" type="text/css" />
<link type="text/css" href="{#$QISHI.site_template#}famous/css/css.css" rel="stylesheet" />
<script src="{#$QISHI.site_template#}js/jquery.js" type='text/javascript' ></script>
<script src="{#$QISHI.site_template#}js/jquery.lazyload.js" type="text/javascript"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}js/tc.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}js/xl.js"></script>
<script type="text/javascript" src="{#$QISHI.site_template#}js/add_common_function.js"></script>
<script src="{#$QISHI.site_template#}js/MSClass.js" language="javascript"></script>
<script src="{#$QISHI.site_template#}js/select-jobs.js" type="text/javascript"></script>
<script type="text/javascript">
	function of_showmore(v){
		oMore = document.getElementById('showmore');
		if(v==1){oMore.style.display = 'block';}
		else{oMore.style.display = 'none';}
	}
	function of_showmember(v){
		oMore1 = document.getElementById('tab_member_1');
		oMore2 = document.getElementById('tab_member_2');
		if(v==1){oMore1.style.display = 'none';oMore2.style.display = 'block';}
		else{oMore1.style.display = 'block';oMore2.style.display = 'none';}
	}
</script>

<SCRIPT type=text/javascript>
   $(function(){
	 var index = 0;
	 $("#btn span").mouseover(function(){
		index  =  $("#btn span").index(this);
		showImg(index);
	});	
	 //滑入 停止动画，滑出开始动画.
	 $('#boxImg').hover(function(){
			  if(MyTime){
				 clearInterval(MyTime);
			  }
	 },function(){
			  MyTime = setInterval(function(){
			    showImg(index)
				index++;
				if(index==0){index=0;}
			  } , 3000);
	 });
	 //自动开始
	 var MyTime = setInterval(function(){
		showImg(index)
		index++;
		if(index==0){index=0;}
	 } , 4000);
})
//关键函数：通过控制i ，来显示不通的幻灯片
function showImg(i){
	$("#img img")
		.eq(i).stop(true,true).fadeIn(800)
		.parent().siblings().find("img").hide();
	$("#txt p")
		.eq(i).addClass("block")
		.siblings().removeClass("block");
	 $("#btn span")
		.eq(i).addClass("current")
		.siblings().removeClass("current");
}
</SCRIPT>
<style>
.footer{float:none;margin:0 auto;}
</style>

</head>

<body>


{#include file="header_nosearch.htm"#}

<div class="current">您当前所在的位置：<a href="http://hr.ofweek.com">OFweek人才网</a>&gt;&gt;名企专区</div>
<div class="main01">
	<div class="main01_left">
		<div class="pic_top"></div>
		<div class="m_l_midd">
			<div id="boxImg">
				<div id="img">
					<a title="奥的斯电梯（中国）有限公司" target="_blank" href="#">
					<img width="520" height="280" alt="#" src="http://img101.job1001.com/logolib/img_520X280/201111/dt.jdjob88.com_120500_j20988_1322467244_ukkz.gif" style="display: none;">
					</a>
					<a title="三一西北重工有限公司" target="_blank" href="#">
					<img width="520" height="280" alt="#"  src="http://img101.job1001.com/logolib/img_520X280/201110/coal.job1001.com_650100_cm1303805106670_1319684832_kxrr.gif" style="display: none;">
					</a>
					<a title="西门子（中国）有限公司" target="_blank" href="#">
					<img width="520" height="280"  alt="#"  src="http://img101.job1001.com/logolib/img_520X280/201111/www.job1001.com_110700_cm1314177885194_1320113712_bgik.gif" style="display: none;">
					</a>
					<a title="新华网人才频道" target="_blank" href="#">
					<img width="520" height="280"  alt="#" src="http://img103.job1001.com/logolib/img_520X280/201212/www.job1001.com_440300_cm1268187042152_1354874805_e4j7.gif" style="display: none;">
					</a>
					<a title="中广核工程有限公司" target="_blank" href="#">
					<img width="520" height="280" alt="#"  src="http://img101.job1001.com/logolib/img_520X280/201110/www.epjob88.com_440000_e26809_1319595279_lktk.jpg" style="display: none;">
					</a>
				</div>
				<div id="btn">
					<p>
						<span>
						<img width="104" height="47" alt="#" src="http://img101.job1001.com/logolib/img_104X47/201111/dt.jdjob88.com_120500_j20988_1322467336_obzx.gif">
						</span>
						<span class="">
						<img width="104" height="47" alt="#"  src="http://img101.job1001.com/logolib/img_104X47/201110/coal.job1001.com_650100_cm1303805106670_1319685431_k5wn.gif">
						</span>
						<span class="">
						<img width="104" height="47" alt="#" src="http://img101.job1001.com/logolib/img_104X47/201111/www.job1001.com_110700_cm1314177885194_1320113978_atgn.gif">
						</span>
						<span class="">
						<img width="104" height="47" alt="#" src="http://img103.job1001.com/logolib/img_104X47/201212/www.job1001.com_440300_cm1268187042152_1354874940_itv6.gif">
						</span>
						<span class="current">
						<img width="104" height="47" alt="#"  src="http://img101.job1001.com/logolib/img_104X47/201110/www.epjob88.com_440000_e26809_1319685783_auwb.gif">
						</span>
					</p>
				</div>
			</div>
		</div>
		<div class="pic_bott"></div>
	</div>
	<div class="main01_right">
		<div class="title_t">
			<h2>名企动态</h2>
			<a target="_blank" href="http://hr.ofweek.com/news/news-list-5.html">更多>></a>
		</div>
		<div class="m_r_midd">
			<div class="news_one">
				<img width="74" src="{#$QISHI.thumb_dir#}{#$article_pic.Small_img#}">
				<div class="news_one_font">
					<h3>
					<a target="_blank" href="/news/news-show-{#$article_pic.id#}.html" title="{#$article_pic.title#}">{#$article_pic.title|truncate:30:""#}</a>
					</h3>
					<p>{#$article_pic.seo_description|truncate:84:""#}</p>
				</div>
			</div>
			<ul class="news_list">
			{#foreach from=$article_list item=t#}
				<li>
				<a target="_blank" href="/news/news-show-{#$t.id#}.html" title="{#$t.title#}">{#$t.title|truncate:30:""#}</a>
				</li>
			{#/foreach#}
			</ul>
		</div>
		<div class="m_r_bott"></div>
	</div>
</div>
<div class="main02">
	<table border="0" cellspacing="0" width="990" cellpadding="0" align="center">
		<tr>
				<td colspan="2"><a href="#" title="香港宝岛眼镜国际集团专业连锁有限公司"><img width="988" height="60" style="border:solid 1px #CCCCCC;" alt="香港宝岛眼镜国际集团专业连锁有限公司" src="{#$QISHI.site_template#}famous/images/1.gif"></a></td>
		</tr>
		<tr>
				<td><a title="五得利面粉集团有限公司" target="_blank" href="http://food.job1001.com/vvip/cm1346741203295/">
<img width="491" height="60" style="border:solid 1px #CCCCCC;" alt="五得利面粉集团有限公司" src="{#$QISHI.site_template#}famous/images/pic2.jpg">
</a></td>
				<td align="right"><a title="山东山推工程机械进出口有限公司" target="_blank" href="http://gcjx.job1001.com/vvip/cm1344224451553/">
<img width="491" height="60" style="border:solid 1px #CCCCCC;" alt="山东山推工程机械进出口有限公司" src="{#$QISHI.site_template#}famous/images/2.gif">
</a></td>
		</tr>
		<tr>
				<td rowspan="2" valign="top"><a title="吉林省三河矿业开发有限公司" target="_blank" href="http://www.job1001.com/vvip/cm1319187635266/">
<img width="491" height="128" style="border:solid 1px #CCCCCC;" alt="吉林省三河矿业开发有限公司" src="{#$QISHI.site_template#}famous/images/pic3.jpg">
</a></td>
				<td height="41" align="right"><a title="环山集团有限公司" target="_blank" href="http://sl.job1001.com/vvip/cm1354696797924/">
<img width="491" height="60" style="border:solid 1px #CCCCCC;" alt="环山集团有限公司" src="{#$QISHI.site_template#}famous/images/3.gif">
</a></td>
		</tr>
		<tr>
				<td align="right"><a title="益客集团" target="_blank" href="http://sl.job1001.com/vvip/cm1331196759589/">
<img width="491" height="60" style="border:solid 1px #CCCCCC;" alt="益客集团" src="{#$QISHI.site_template#}famous/images/4.gif">
</a></td>
		</tr>
</table>

</div>
<div class="main03">
	<ul>
	{#foreach from=$list item=t#}
		<li>
			<a href="/company/company-show-{#$t.uid#}.html" target="_blank" title="{#$t.companyname#}"><img src="/data/logo/{#$t.logo#}" border="0" alt="{#$t.companyname#}" /></a>
			<ul>
				{#foreach from=$t.jobs item=e#}
				<li><a href="/jobs/jobs-show-{#$e.id#}.html" target="_blank" title="{#$e.jobs_name#}">{#$e.jobs_name#}</a></li>
				{#/foreach#}
			</ul>
		</li>
	{#/foreach#}
	</ul>
</div>

{#include file="footer.htm"#}

</body>
</html>
